<?xml version="1.0" ?>
<config>
    <modules>
        <RonisBT_Banners>
            <version>0.2.0</version>
        </RonisBT_Banners>
    </modules>
    <global>
        <models>
            <ronisbt_banners>
                <class>RonisBT_Banners_Model</class>
                <resourceModel>banners_resource</resourceModel>
            </ronisbt_banners>
            <banners_resource>
                <class>RonisBT_Banners_Model_Resource</class>
                <entities>
                    <table_banners>
                        <table>ronisbt_banners_entities</table>
                    </table_banners>
                </entities>
            </banners_resource>
            <status_source>
                <class>RonisBT_Banners_Model_StatusSource</class>
            </status_source>
            <banner_image>
                <class>RonisBT_Banners_Model_Image</class>
            </banner_image>
        </models>
        <blocks>
            <ronisbt_banners>
                <class>RonisBT_Banners_Block</class>
            </ronisbt_banners>
        </blocks>
        <resources>
            <banners_setup>
                <setup>
                    <module>RonisBT_Banners</module>
                </setup>
            </banners_setup>
        </resources>
        <helpers>
            <ronisbt_banners>
                <class>RonisBT_Banners_Helper</class>
            </ronisbt_banners>
            <banner_image>
                <class>RonisBT_Banners_Helper_Image</class>
            </banner_image>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <ronisbt_banners>
                    <file>ronisbt_banners.xml</file>
                </ronisbt_banners>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <banners after="Mage_Adminhtml">RonisBT_Banners_Adminhtml</banners>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <ronisbt_banners module="ronisbt_banners">
                        <title>Homepage banners</title>
                        <action>adminhtml/banners_banners</action>
                    </ronisbt_banners>
                </children>
            </cms>
        </menu>
    </adminhtml>
    <default>
        <banners>
            <image>
                <base_height>400</base_height>
                <max_dimension>5000</max_dimension>
                <media_path>/media/ronisbt_banners</media_path>
                <placeholder>comingsoon.png</placeholder>
            </image>
        </banners>
    </default>
</config>