<?xml version="1.0" ?>
<config>
    <modules>
        <RonisBT_Banners>
            <version>0.3.0</version>
        </RonisBT_Banners>
    </modules>
    <global>
        <models>
            <ronisbt_banners>
                <class>RonisBT_Banners_Model</class>
                <resourceModel>banners_resource</resourceModel>
            </ronisbt_banners>
            <banners_resource>
                <class>RonisBT_Banners_Model_Resource</class>
                <entities>
                    <table_banners>
                        <table>ronisbt_banners_entities</table>
                    </table_banners>
                </entities>
            </banners_resource>
        </models>
        <blocks>
            <ronisbt_banners>
                <class>RonisBT_Banners_Block</class>
            </ronisbt_banners>
        </blocks>
        <resources>
            <banners_setup>
                <setup>
                    <module>RonisBT_Banners</module>
                </setup>
            </banners_setup>
        </resources>
        <helpers>
            <ronisbt_banners>
                <class>RonisBT_Banners_Helper</class>
            </ronisbt_banners>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ronisbt_banners>
                <use>standard</use>
                <args>
                    <module>RonisBT_Banners</module>
                    <frontName>ronisbt_banners</frontName>
                </args>
            </ronisbt_banners>
        </routers>
        <layout>
            <updates>
                <ronisbt_banners>
                    <file>ronisbt_banners.xml</file>
                </ronisbt_banners>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ronisbt_banners_admin>
                <use>admin</use>
                <args>
                    <module>RonisBT_Banners</module>
                    <frontName>ronisbt_banners_admin</frontName>
                </args>
            </ronisbt_banners_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <ronisbt_banners module="ronisbt_banners">
                        <title>Homepage banners</title>
                        <action>ronisbt_banners_admin/adminhtml_banners</action>
                    </ronisbt_banners>
                </children>
            </cms>
        </menu>
    </adminhtml>
</config>